<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am a Data Scientist who builds awesome stuff, with a wide experience
      in product analytics, recommendation system, location analytics, retail analytics, machine and deep learning using mind-blowing
      technologies.
    </p>
    <p>
      I am also an open-source contributor and in my free time, I write on
      <a href="https://medium.com/@oladokunjoseph2" target="_blank">
        Data Science
      </a>
      and make open
      <a href="https://github.com/godskid89" target="_blank">
        contributions on GitHub </a
      >.
    </p>
    <p>
      I am an active member of various data science communities, where I focus on
      making impacts and sharing my experiences whilst learning.
    </p>

    <p>
      Being a Data Scientist, I create analysis that helps stakeholders 
      makes business decisions, perform A/B testing on products, build 
      recommendation system to personalize user's experience,
      price optimization, retail and location analytics at scale using 
      different techniques including machine and deep learning.
      On the other hand, I participate in data science communities, which has given
      me the platform to share complementary ideas with my peers and accelerate
      the process of crafting better solutions without being distracted by the
      buzz, glitz and opportunities that seem to exist.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably
      talking at a
      <a href="https://www.meetup.com/Akure-R-user-group/" target="_blank">Akure R Users meetup</a>, watching football as Chelsea fan,
      giving free therapy to a friend or hanging out with myself/friends.
    </p>
  </div>
</section>
