<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">
        <div class="project tictactoe">
            <figure class="project__pic">
                <a href="https://github.com/Godskid89/nigeriadata" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/nigeriadata.jpg" alt="nigeriadata">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://github.com/Godskid89/nigeriadata" target="_blank">
                        Nigeria Data</a>
                </div>
                <p> Nigeria Data is an open source R package for Nigeria Spatial and Non-spatial data, the package is built upon 
                    <a href="https://www.ehealthafrica.org/" target="_blank">
                        eHealth Africa</a> 
                    GRID data funded by Bill and Melinda Gates foundation. This package makes the data
                    available for R user all over the world in R studio.
                </p>
            </figcaption>
        </div>
        <br>
        <div class="project tictactoe">
            <figure class="project__pic">
                <a href="https://github.com/Godskid89/airbnb-pricing-tool" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/airbnb.jpg" alt="airbnb">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://github.com/Godskid89/airbnb-pricing-tool" target="_blank">
                        Airbnb Price Prediction with PySpark</a>
                </div>
                <p>An API that predict price of Airbnb in a particular location. This can help new Airbnb host to set price 
                    for their apartments. </p>
            </figcaption>
        </div>
        <br>
        <div class="project pace2d">
            <figure class="project__pic">
                <a href="https://github.com/Godskid89/Bikesharing-prediction-with-flask-and-docker" target="_blank">
                    <img src="{{site.baseurl}}/img/featured/bike.jpg" alt="bikedemand">
                </a>
            </figure>
            <figcaption class="project__caption">
                <div class="project__name">
                    <a href="https://github.com/Godskid89/Bikesharing-prediction-with-flask-and-docker" target="_blank">
                        Bike Demand API</a>
                </div>
                <p>Machine learning powered demand prediction API using Bike demamd as a case study</p>
            </figcaption>
        </div>


    </div>
</section>
