<header class="intro">
    <h1 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
    </h1>

    <h2 class="intro__tagline">
        I'm <span class="name">Joe</span>, a solution-minded data scientist with solid understanding of end-to-end data science best practices and loves to crunch data and analyse stuff,
                I'm also an open source hobbyist & a community mentor focused on making impacts.👨‍
    </h2>
    {% include location.html %}
    <h3 class="intro__contact">
        <span>Get in touch</span>
        <span class="emoji pointer"></span>
        <span>
      <a href="mailto:oladokunjoseph2@gmail.com" target="_blank"
         class="highlight-link">oladokunjoseph2@gmail.com</a>
    </span>
    </h3>
</header>
